<div class="product-trust-badges mt-20 mb-20 border-top border-bottom py-15">
    <div class="row text-center justify-content-center">
      <div class="col-4 d-flex flex-column align-items-center justify-content-start">
        <div class="mb-10" style="width: 24px; height: 24px;">{% render 'icon-theme-116' %}</div>
        <span class="text-small lh-12">Delivery Guarantee</span>
      </div>
      <div class="col-4 d-flex flex-column align-items-center justify-content-start">
        <div class="mb-10" style="width: 24px; height: 24px;">{% render 'icon-theme-135' %}</div>
        <span class="text-small lh-12">45-Day Returns</span>
      </div>
      <div class="col-4 d-flex flex-column align-items-center justify-content-start">
        <div class="mb-10" style="color: #6f6a64; width: 24px; height: 24px;">
           {% render 'icon-theme-221' %}
        </div>
        <span class="text-small lh-12" style="color: #6f6a64;">Satisfaction Guaranteed</span>
      </div>
    </div>
  </div>
