{% comment %} theme-check-disable LiquidHTMLSyntaxError {% endcomment %}
<!doctype html>
{%- assign is_rtl_locale = shop.locale == 'ar' or shop.locale == 'he' -%}
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}" {% if is_rtl_locale or settings.layout_enable_rtl %}dir="rtl"{% endif %}>
<head>
  {{ content_for_header }}
  {% include 'head' %}
</head>
<body{% render 'layout-get-body-attributes' %}>
{% include 'layout-get-includes-start' %}
{% include 'password-page-header' %}
<main role="main" id="MainContent">
  <div class="container">
    {{ content_for_layout }}
  </div>
</main>
{% section 'password-page-footer' %}
{% include 'popups' %}
{% include 'layout-get-includes-end' %}
</body>
</html>
{% comment %} theme-check-enable LiquidHTMLSyntaxError {% endcomment %}


